*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    padding: 20px;
    display: flex;
    min-height: 100vh;
    background-image: url('C:/Users/Admin/Desktop/Project 1/images/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    color: #ghostwhite;
}

.container{
    position: relative;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 100%;
    border-radius: 25px;
    border: 2px solid white;
    
}
.head{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 20px 20px 0 0;
    margin-bottom: 60px;
}
.head h1{
    font-size: 30px;
    font-style: bold;
    font-weight: 500;
    margin-top: 20px;
}

.head img{
    margin:30px 0 0 0;
    width: 150px;
    height: 150px;
    border: 5px solid #000000;
    border-radius: 50%;
}
.head a{
    font-size: 30px;
    font-family: arial;
    margin: 30px 0;
    text-decoration: none;
    color: #darkviolet;
    font-weight: 600;
    transition: 0.5s ease;
}

p{
    margin: 20px 0 50px 0;
    letter-spacing: 1.5px;
    text-align: justify;
    text-indent: 50px;
}


h3{
    text-transform: uppercase;
    border-radius: 10px;
    padding-left: 10px;
    background: darkkhaki;
}
.container .educational h4{
    text-transform: uppercase;
    border-radius: 10px;
    padding-left: 10px;
    background: darkkhaki;
}
.container .educational{
    margin-bottom: 60px;
}
.container .educational table{
    margin-top: 20px;
    width: 100%;
    font-family: Arial;
    border-collapse: collapse border;
}
.container .educational table,th,td{
    border: 2px solid #000000;
    text-align: center;
    padding: 8px;
}
th{
    background: rgba(206, 193, 193, 0.25);
}

.container .expertice{
    position: relative;
    width: 100%;
    margin-bottom: 60px;
}
.container .expertice ul{
    list-style-type: square;
}
ul{
    margin-top: 20px;
    padding-left: 15px;
}
.container .it-background{
    letter-spacing: 1.5px;
    text-align: justify;
    text-indent: 50px 0;
}
.container .it-background h4{
    text-transform: uppercase;
    border-radius: 10px;
    padding-left: 10px;
    background: darkkhaki;
}
.container .Applications{
    width: 100%;

}
.container .Applications h4{
    text-transform: uppercase;
    border-radius: 10px;
    padding-left: 10px;
    background: darkkhaki;
}
.container .Applications ul{
    list-style: decimal;
    margin-top: 20px;
    padding-left: 15px;
}
h3 h4{
    text-align: left;
    font-family: Arial;
}
 
.head a:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    color: #050c0c;
    border: 2px solid white;
    background-color: slategray;
    border-radius: 8px;
}